* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a9a8a8;
  color: #08aa31c2;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.list-item {
  max-width: 200px;
  width: 220px;
  background-color: #4d5ae5;
  border: 2px solid #fafafad2;
  border-radius: 5px;
  color: #fafafad2;
  text-align: center;
}
.list-item-link {
  padding: 0 20px;
  text-decoration: none;
  color: #fafafad2;
}

.list-item:hover,
.list-item:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  color: #ffffff;
}
