* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(238, 191, 49, 0.5);
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.list-item {
  max-width: 200px;
  width: 220px;
  background-color: #4d5ae5;
  border: 2px solid #fafafad2;
  border-radius: 5px;
  color: #fafafad2;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.list-item-link {
  padding: 0 20px;
  text-decoration: none;
  color: #fafafad2;
}

.list-item:hover,
.list-item:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  color: #ffffff;
}

input {
  outline: none;
}

span.flatpickr-day.selected:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #f6c218;
  background-color: #0b7325;
  border-color: #f6c218;
}

span.flatpickr-day.selected {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #f6c218;
  background-color: #08aa31;
  border-color: #f6c218;
}
.flatpickr-time input.flatpickr-hour.selected,
.flatpickr-time input.flatpickr-minute.selected,
.flatpickr-time input.flatpickr-second.selected,
.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  color: #f6c218;
  font-weight: 400;
  background: #08aa31;
}

span.flatpickr-weekday {
  color: #08aa31;
}

div.flatpickr-calendar {
  background: #51f87be6;
}
/* .flatpickr-months .flatpickr-month {
  color: #000000e6;
  fill: #000000e6;
  height: 34px;
  text-align: center;
  user-select: none;
  background: #08aa31;
  flex: 1;
  line-height: 1;
  position: relative;
  overflow: hidden;
} */

/* .numInputWrapper span:hover {
  background: #08aa31;
}

.numInputWrapper span:active {
  background: #08aa31;
}
.numInputWrapper:hover {
  background: #08aa31;
}
.flatpickr-current-month span.cur-month:hover {
  background: #08aa31;
}

.flatpickr-current-month input.cur-year {
  color: inherit;
  background: #08aa31;
} */
/* div.flatpickr-current-month input.cur-year[disabled],
div.flatpickr-current-month input.cur-year[disabled]:hover {
  color: #00000080;
  pointer-events: none;
  background: #08aa31;
  font-size: 100%;
} */
/* option.flatpickr-current-month option.flatpickr-monthDropdown-months {
  color: inherit;
  width: auto;
  background: #08aa31;
} */

/* div.flatpickr-current-month div.flatpickr-monthDropdown-months:hover {
  background: #08aa31;
} */

/* select.flatpickr-current-month
  select.flatpickr-monthDropdown-months
  select.flatpickr-monthDropdown-month {
  background-color: #08aa31;
  outline: none;
  padding: 0;
} */

div.flatpickr-weekdays {
  background: #08aa31;
}
div.flatpickr-weekdaycontainer {
  color: #08aa31;
}

span.flatpickr-day.today:hover,
span.flatpickr-day.today:focus {
  color: #f6c218;
  background: #0b7325;
  border-color: #f6c218;
}
/* .flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background: #0b7325;
  border-color: #569ff7;
} */
/* .flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: #08aa31;
  cursor: default;
  background: none;
  border-color: #0000;
} */
/* .flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  width: 100%;
  max-width: none;
  color: #3939394d;
  cursor: default;
  background: #08aa31;
  border: none;
  display: block;
} */

/* .flatpickr-time input {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  height: inherit;
  line-height: inherit;
  color: #393939;
  box-sizing: border-box;
  appearance: textfield;
  background: #08aa31;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
} */

/* .flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #08aa31;
} */
